.App-articles {
    margin: 50px 0;
    padding: 0 20px;
    display: flex;
    flex-flow: wrap;
}

@media screen and (max-width: 800px) {
    .App-articles {
        flex-flow: column;
        padding: 0 10%;
    }
}